<div class="inline">

	<!--Competencias-->
	<div [ngClass]="bntStyle" class="block" [ngStyle]="{ transform: 'translateX(' + current * -100 + '%)' }">
		<h2>Listado de competencias que serán evaluadas en esta categoría competencial</h2>
		<button
			class="btn btn-primary me-2"
			data-bs-toggle="modal"
			data-bs-target="#exampleModal"

			>
<!-- 			esto va en el button de arriba (falta hacer la funcion)
	(click)="setCtrlView(trab, 'Par')  " > -->

			<span class="material-icons" title="Añadir par"> add </span>
		</button>


		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLabel">
						Haga click en las competencias que tendrán esta categoría competencial
					</h2>
				</div>










			</div>
		</div>
	</div>
</div>
