**
# Exclusiones backend
!back-comp/package*.json
!back-comp/dist
!back-comp/src
!back-comp/.env
!back-comp/.envProd
!back-comp/pnpm-lock.yaml
!back-comp/tsconfig.build.json
!back-comp/tsconfig.json

# Exclusiones codigo compartido
!sharedCode

# Exclusiones frontend
!FrontComp/src
!FrontComp/tsconfig.json
!FrontComp/tsconfig.app.json
!FrontComp/pnpm-lock.yaml
!FrontComp/angular.json
!FrontComp/package.json
!FrontComp/.browserslistrc

