<!--ASIGNAR COMPORTAMIENTOS -->
<div class="modal-dialog" *ngIf="initialized">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title">
				Haga click para añadir los comportamientos que tendrán estas competencias por niveles
			</h2>
			<div *ngIf="modoEdicion">Añadir botón añadir competencias</div>
		</div>
		<div class="modal-body">
			<!-- TODO: Cambiar estilos, tiene mucho padding al sumarse modal-body y accordion-body -->
			<div class="accordion" id="accordionCompo">
				<div class="accordion-body">
					<h4>Competencias:</h4>
					<div class="accordion-item" *ngFor="let comp of cv.competenciasModelo; let i = index">
						<h2 class="accordion-header" [id]="'headerComp ' + i">
							<button
								class="accordion-button collapsed"
								data-bs-toggle="collapse"
								[attr.data-bs-target]="'#collCompo' + i"
								[attr.aria-controls]="'collCompo' + i"
							>
								{{ comp.descripcion }}
							</button>
						</h2>

						<div
							[id]="'collCompo' + i"
							class="accordion-collapse collapse"
							[attr.aria-labelledby]="'headerComp' + i"
							data-bs-parent="#accordionCompo"
						>
						<!-- test -->
							<!-- TODO: Reducir padding, es excesivo -->
							<div class="accordion-body">
								<div class="accordion" id="accordionLast">
									<div class="accordion-body">
										<div class="accordion-item" *ngFor="let nivel of dbData.niveles; let i = index">
											<h2 class="accordion-header" [id]="'headerLast ' + i">
												<button
													class="accordion-button collapsed"
													data-bs-toggle="collapse"
													[attr.data-bs-target]="'#collLast' + i"
													[attr.aria-controls]="'collLast' + i"
												>
													{{ ' Nivel: ' + nivel.code }}
													<button
														*ngIf="modoEdicion"
														(click)="
															comportCtl.nivSelected = nivel;
															comportCtl.compSelected = comp;
															comportamientosSelect = [];
															comportCtl.comportsSelected = []
														"
														class="btn btn-primary me-2"
														data-bs-toggle="modal"
														data-bs-target="#removeModal"
														style="margin-left: 30px"
													>
														<span title="Añadir comportamiento"> Añadir comportamientos </span>
													</button>
												</button>
											</h2>
											<div
												[id]="'collLast' + i"
												class="accordion-collapse collapse"
												[attr.aria-labelledby]="'headerLast' + i"
												data-bs-parent="#accordionLast"
											>
												<div class="accordion-body">
													<ul class="list-group">
														<li
															class="list-group-item p-3"
															aria-current="true"
															*ngFor="
																let comport of keysToArrayComport(evModelIndx.comps[comp.id].comports);
																let i = index
															"
														>
															{{ comport.descripcion }}
															<button class="btn btn-danger me-2" style="float: right">
																<span class="material-icons" title="Eliminar comportamiento"> remove </span>
															</button>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn arrowBtn">
					<span class="material-icons"> arrow_back </span>
				</button>
				<button class="btn btn-outline-success">
					<span> CREAR MODELO </span>
				</button>
			</div>
		</div>
	</div>
</div>
