.card {
	margin: 1rem;
	transition: ease 0.5s;
	&:hover {
		box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
	}
}
.comports-toggle-header {
	position: relative;
}
.add-comports-btn {
	position: absolute;
	right: 3.5rem;
	bottom: 0.8rem;
	z-index: 5;
	@media (max-width: 700px) {
		overflow: hidden;
		max-width: 5rem;
		max-height: 2rem;
		right: 0.5rem;
	}
}
