<div class="row" *ngIf="initialized">
	<div class="card">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" *ngIf="modoEdicion; else noEdicion">Edite el modelo seleccionado</h2>
				<ng-template ng-te #noEdicion>
					<h2>Aquí puede visualizar el modelo seleccionado</h2>
				</ng-template>
				<div *ngIf="modoEdicion">
					<button class="btn btn-success">Añadir competencias</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="accordion" id="accordionCompo">
					<div class="accordion-body">
						<h4>COMPETENCIAS del modelo:</h4>
						<div class="accordion-item"  *ngFor="let comp of cv.competenciasModelo; let i = index">
							<h2 class="accordion-header" [id]="'headerComp ' + i">
								<button

									class="accordion-button collapsed"
									data-bs-toggle="collapse"
									[attr.data-bs-target]="'#collCompo' + i"
									[attr.aria-controls]="'collCompo' + i"
								>
									{{ comp.descripcion }}
								</button>
							</h2>

							<div
								[id]="'collCompo' + i"
								class="accordion-collapse collapse"
								[attr.aria-labelledby]="'headerComp' + i"
								data-bs-parent="#accordionCompo"

							>
								<!-- test -->
								<!-- TODO: Reducir padding, es excesivo -->
								<div class="accordion-body">
									<div class="accordion" id="accordionLast">
										<div class="accordion-body">
											<div class="accordion-item" *ngFor="let nivel of dbData.niveles; let i = index">
												<h2 class="accordion-header" [id]="'headerLast ' + i">
													<button
														class="accordion-button collapsed"
														data-bs-toggle="collapse"
														[attr.data-bs-target]="'#collLast' + i"
														[attr.aria-controls]="'collLast' + i"
													>
														{{ ' Nivel: ' + nivel.code }}
														<button
															*ngIf="modoEdicion"
															(click)="
																comportCtl.nivSelected = nivel;
																comportCtl.compSelected = comp;
																comportamientosSelect = [];
																comportCtl.comportsSelected = []
															"
															class="btn btn-primary me-2"
															data-bs-toggle="modal"
															data-bs-target="#removeModal"
															style="margin-left: 30px"
														>
															<span title="Añadir comportamiento"> Añadir comportamientos </span>
														</button>
													</button>
												</h2>
												<div
													[id]="'collLast' + i"
													class="accordion-collapse collapse"
													[attr.aria-labelledby]="'headerLast' + i"
													data-bs-parent="#accordionLast"
												>
													<div class="accordion-body">
														<ul class="list-group">
															<li

																class="list-group-item p-3 ips"
																aria-current="true"
																*ngFor="
																	let comport of keysToArrayComport(evModelIndx.comps[comp.id].comports);
																	let i = index
																"
															>
																{{ comport.descripcion }}
																<button *ngIf="modoEdicion" class="btn btn-danger me-2" style="float: right">
																	<span class="material-icons" title="Eliminar comportamiento"> remove </span>
																</button>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" *ngIf="modoEdicion">
					<button class="btn btn-outline-success">
						<span> CONFIRMAR CAMBIOS </span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
