.auth-page {
	min-height: 100vh;
	background: #09548d;
	background-size: 400% 400%;
}
.login-logo {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
	text-align: center;
	height: 100%;
	max-height: 500px;
}
.form-control {
	margin-bottom: 10px;
}
#formDiv {
	margin-top: 10px;
}
.titleCenter {
	text-align: center;
}
.login-banner {
	margin-top: 2rem;
	font-size: 2.5rem;
	color: #fff;
	text-align: center;
}

@media (min-width: 768px) {
	.login-branding {
		margin-top: 80px;
		margin-left: 30px;
	}
	#formDiv {
		margin-top: 80px;
	}
}
