.chart-wrapper {
	height: 30vh;
	@media (min-width: 1000px) {
		width: 30vh;
	}
	@media (min-width: 500px) {
		width: 40vh;
	}
	@media (min-width: 1700px) {
		width: 50vh;
	}
}

.title {
	padding-top: 20px;
	padding-bottom: 20px;
}
