<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="exampleModalLabel">Crear nueva evaluación</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div *ngIf="rangesForm" class="modal-body">
				<input
					type="text"
					[(ngModel)]="evDescription"
					class="form-control"
					#addRelation
					placeholder="Nombre evaluación"
				/>
				<hr />
				<mat-form-field appearance="fill">
					<mat-label>Periodo propuesta evaluadores</mat-label>
					<mat-date-range-input [formGroup]="rangesForm" [rangePicker]="picker1">
						<input matStartDate formControlName="propuestaStart" placeholder="Fecha inicio" />
						<input matEndDate formControlName="propuestaEnd" placeholder="Fecha final" />
					</mat-date-range-input>
					<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
					<mat-date-range-picker #picker1></mat-date-range-picker>

					<!-- <mat-error *ngIf="periodos.rangePropuesta.controls.start.hasError('matStartDateInvalid')"
						>Invalid Fecha inicio</mat-error
					>
					<mat-error *ngIf="periodos.rangePropuesta.controls.end.hasError('matEndDateInvalid')"
						>Invalid Fecha final</mat-error
					> -->
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Periodo Validación evaluadores</mat-label>
					<mat-date-range-input [formGroup]="rangesForm" [rangePicker]="pickerValidacion">
						<input matStartDate formControlName="validacionStart" placeholder="Fecha inicio" />
						<input matEndDate formControlName="validacionEnd" placeholder="Fecha final" />
					</mat-date-range-input>
					<mat-datepicker-toggle matSuffix [for]="pickerValidacion"></mat-datepicker-toggle>
					<mat-date-range-picker #pickerValidacion></mat-date-range-picker>

					<!-- <mat-error *ngIf="periodos.rangeValidacion.controls.start.hasError('matStartDateInvalid')"
						>Invalid Fecha inicio</mat-error
					>
					<mat-error *ngIf="periodos.rangeValidacion.controls.end.hasError('matEndDateInvalid')"
						>Invalid Fecha final</mat-error
					> -->
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Periodo valoraciones</mat-label>
					<mat-date-range-input [formGroup]="rangesForm" [rangePicker]="pickerValoracion">
						<input matStartDate formControlName="valoracionStart" placeholder="Fecha inicio" />
						<input matEndDate formControlName="valoracionEnd" placeholder="Fecha final" />
					</mat-date-range-input>
					<mat-datepicker-toggle matSuffix [for]="pickerValoracion"></mat-datepicker-toggle>
					<mat-date-range-picker #pickerValoracion></mat-date-range-picker>

					<!-- <mat-error *ngIf="periodos.rangeValoracion.controls.start.hasError('matStartDateInvalid')"
						>Invalid Fecha inicio</mat-error
					>
					<mat-error *ngIf="periodos.rangeValoracion.controls.end.hasError('matEndDateInvalid')"
						>Invalid Fecha final</mat-error
					> -->
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Periodo Evaluado</mat-label>
					<mat-date-range-input [formGroup]="rangesForm" [rangePicker]="pickerEvPeriodo">
						<input matStartDate formControlName="evaluacionStart" placeholder="Fecha inicio" />
						<input matEndDate formControlName="evaluacionEnd" placeholder="Fecha final" />
					</mat-date-range-input>
					<mat-datepicker-toggle matSuffix [for]="pickerEvPeriodo"></mat-datepicker-toggle>
					<mat-date-range-picker #pickerEvPeriodo></mat-date-range-picker>

					<!-- <mat-error *ngIf="periodos.rangeEvaluacion.controls.start.hasError('matStartDateInvalid')"
						>Invalid Fecha inicio</mat-error
					>
					<mat-error *ngIf="periodos.rangeEvaluacion.controls.end.hasError('matEndDateInvalid')"
						>Invalid Fecha final</mat-error
					> -->
				</mat-form-field>
				<select class="form-select mb-2" [(ngModel)]="catCompSelected">
					<option selected hidden disabled [value]="evModelSelected">
						Seleccione la Categoria competencial
					</option>
					<option *ngFor="let catComp of catComps" [ngValue]="catComp">{{ catComp.id }}</option>
				</select>
			</div>

			<div class="modal-footer">
				<button #closeEvModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button
					#nextModalBtn
					data-bs-toggle="modal"
					data-bs-target="#selectModelCompsModal"
					class="btn btn-primary"
					[disabled]="isFormValid()"
					(click)="closeEvModal.click()"
				>
					Siguiente
				</button>
			</div>
		</div>
	</div>
</div>
<app-model-comp-select></app-model-comp-select>
