<div class="tablewrapper">
	<h1 class="title">Lista de todas las categorias contractuales</h1>
	<!-- TODO: Fix aria-label https://www.w3.org/TR/wai-aria-1.1/#aria-label -->
	<table aria-label="Lista categorias contractuales" class="table table-hover">
		<thead>
			<tr>
				<th scope="col">CAT.CONTRACTUAL</th>
				<th scope="col">Descripción</th>
				<th scope="col">CAT.COMPETENCIAL</th>
				<div>
					<button class="btn btn-primary" (click)="addEmptyCContr()">
						<span class="material-icons" title="Añadir categoría competencial"> add </span>
					</button>
				</div>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let cContrAdd of cContrsToAdd">
				<td>
					<input type="text" class="form-control" [(ngModel)]="cContrAdd.id" />
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="cContrAdd.description" />
				</td>
				<td>
					<div class="btn btn-danger" (click)="deleteCatCompToAdd(cContrAdd)">
						<span class="material-icons"> delete </span>
					</div>
					<div class="btn btn-success" (click)="persistCContr(cContrAdd)" *ngIf="canPersistCContr(cContrAdd)">
						<span class="material-icons"> add </span>
					</div>
				</td>
			</tr>
			<tr *ngFor="let catContr of catContracts">
				<td>{{ catContr.id }}</td>
				<td>{{ catContr.description }}</td>
				<td>
					<select [(ngModel)]="catContr.catComp" (change)="updateCContr(catContr)">
						<option selected disabled hidden [value]="catContr.catComp">
							{{ catContr.catComp?.id }}
						</option>
						<option *ngFor="let catComp of catComps" [ngValue]="catComp">
							{{ catComp.id }}
						</option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
</div>
