::after, ::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.col-md-12 {
	width: 60%;
}

.col-md-12, .col-sm-4{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.panel-default {
	border-color: rgb(149, 231, 241);
}

.panel {
	margin-bottom: 20px;
	background-color: rgba(187, 243, 240, 0.150);
	border: 1px solid #09548D;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 15px 15px rgba(0,0,0,.05);
	margin-bottom: 25px;
}

.panel-default > .panel-heading {
	color: #505050;
	background-color: #fff;
	border-color: #09548D;
}

.panel-heading {
	padding: 12px 24px;
}

.panel-heading, .panel-group .panel {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-bottom-color: transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	font-size: 36px;
	padding-top: 0.5em;
	padding-left: 0.2em;
}

h1,h3{
	font-weight: 300;
	font-family: "Source Sans Pro", sans-serif;
	margin: 0 0 15px;

}

.h1, .h3{
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.panel-body {
	position: relative;
	padding: 15px 24px;
}

h3 {
	font-size: 14px;
	margin-bottom: 10px;
}

h1, h3{
	font-family: "Source Sans Pro", sans-serif;
	margin: 0 0 15px;
  margin-bottom: 15px;
}

.control-label{
	font-weight: bold;
}


