<div class="tablewrapper">
	<h1 class="title">Lista de todas las categorias contractuales</h1>
	<table aria-label="Lista categorias contractuales" class="table table-hover">
		<thead>
			<tr>
				<th scope="col">CAT.CONTRACTUAL</th>
				<th scope="col">CAT.COMPETENCIAL</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let catContr of catContracts">
				<td>{{ catContr.id }}</td>
				<td>{{ catContr.description }}</td>
				<td>
					<select id="catCompetencial" [(ngModel)]="catContr.catComp.id">
						<option *ngFor="let catComp of catComps" [value]="catComp.id">
							{{ catComp.id }}
						</option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
</div>
