<div class="tablewrapper">
	<h1 class="title">Lista de todos las categorias competenciales</h1>
	<table
		aria-label="Lista categorias competenciales"
		class="table table-hover"
	>
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">DESCRIPCIÓN</th>
			<th scope="col">BORRAR/AÑADIR</th>
			<th scope="col" style="max-width: 1rem">
				<button class="btn btn-primary" (click)="newEmptyCatComp()">
					<span class="material-icons"> add </span>
				</button>
			</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let row of catCompToAdd">
				<td>
					<input
						type="text"
						class="form-control"
						[(ngModel)]="row.id"
					/>
				</td>
				<td>
					<input
						type="text"
						class="form-control"
						[(ngModel)]="row.description"
					/>
				</td>
				<td>
					<!-- <button
						type="button"
						class="btn btn-danger"

					>
						<em class="">-</em>
					</button> -->
					<div class="btn btn-danger">
						<span class="material-icons" (click)="deleteCatCompToAdd(row)">
							delete
						</span>
					</div>
					<div
						class="btn btn-success"
						(click)="persistCatComp(row)"
						*ngIf="row.description !== '' && row.id !== ''"
					>
						<span class="material-icons"> add </span>
					</div>
				</td>
			</tr>

			<tr *ngFor="let catComp of catComps">
				<td>{{ catComp.id }}</td>
				<td *ngIf="!catComp.editing">{{ catComp.description }}</td>
				<td *ngIf="catComp.editing">
					<input type="text" class="form-control" [(ngModel)]="catComp.description" />
				</td>

				<td>
					<div *ngIf="canDelete(catComp)" class="btn btn-danger">
						<span class="material-icons" (click)="deleteCatComp(catComp)"> delete </span>
					</div>
					<div class="btn btn-success">
						<span class="material-icons" (click)="editingCatComp(catComp, true, false)"> edit </span>
					</div>
					<div class="btn btn-primary" (click)="editingCatComp(catComp, false, true)">
						<span class="material-icons"> done </span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

