<div class="inline">
	<!--CATEGORIAS COMPETENCIALES -->
	<div class="block" [ngStyle]="{ transform: 'translateX(' + current * -100 + '%)' }">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLabel">
						Haga click en la categoría competencial que tendrá este modelo
					</h2>
				</div>
				<div class="modal-body">
					<hr />
					<ul class="list-group">
						<li
							[ngClass]="{ active: catComp === addModelo.catComp }"
							[id]="'catComp' + i"
							class="list-group-item p-3"
							aria-current="true"
							*ngFor="let catComp of dbData.catComps; let i = index"
							(click)="scrollToButton(target); selectCatComp(catComp)"
						>
							{{ catComp.id }} - {{ catComp.description }}
						</li>
					</ul>
				</div>
				<div #target class="modal-footer">
					<div class="btn" (click)="move(false)">
						<span class="material-icons"> arrow_back </span>
					</div>
					<!-- TODO: Añadir un validador para que el botón este disabled hasta que se pulse una catComp -->
					<div class="btn" [ngClass]="{'disableDiv': isDisabled}" (click)="move(true)">
						<span class="material-icons"> arrow_forward </span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN CATEGORIAS COMPETENCIALES-->

	<!--ELEGIR COMPETENCIAS -->
	<div class="block" [ngStyle]="{ transform: 'translateX(' + current * -100 + '%)' }">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLabel">
						Haga click para añadir las competencias que tendrá este modelo
					</h2>
				</div>
				<div class="modal-body">
					<hr />
					<ul class="list-group">
						<li
							[ngClass]="{ active: competenciasSelect.includes(compete) }"
							[id]="compete.id"
							class="list-group-item p-3"
							*ngFor="let compete of dbData.comps"
							(click)="selectCompet(compete)"
						>
							{{ compete.id }} - {{ compete.descripcion }}
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<div class="btn" (click)="move(false)">
						<span class="material-icons"> arrow_back </span>
					</div>
					<!-- TODO: Añadir un validador para que el botón este disabled hasta que se pulse como minimo una competencia -->
					<div class="btn" (click)="move(true)" [ngClass]="{'disableDiv': isDisabled}">
						<span class="material-icons"> arrow_forward </span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--FIN ELEGIR COMPETENCIAS -->

	<!--ASIGNAR NIVEL OBJETIVO A ESAS COMPETENCIAS-->
	<div class="block" [ngStyle]="{ transform: 'translateX(' + current * -100 + '%)' }">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLabel">Asigne el nivel objetivo a cada competencia</h2>
				</div>

				<div class="modal-body">
					<hr />
					<div class="accordion" id="accordionExample">
						<div class="accordion-body">
							<div
								class="accordion-item"
								[id]="compet.id"
								*ngFor="let compet of competenciasSelect; let i = index"
							>
								<h2 class="accordion-header" [id]="'headingWorker ' + i">
									<button
										class="accordion-button collapsed"
										type="button"
										data-bs-toggle="collapse"
										[attr.data-bs-target]="'#collWorker' + i"
										aria-expanded="false"
										[attr.aria-controls]="'collWorker' + i"
									>
										{{ compet.id }} - {{ compet.descripcion }}
									</button>
								</h2>
								<div
									[id]="'collWorker' + i"
									class="accordion-collapse collapse"
									[attr.aria-labelledby]="'headingWorker' + i"
									data-bs-parent="#accordionExample"
								>
									<div class="accordion-body">
										<ol type="1" class="list-group">
											<li
												[ngClass]="{
													active: nivel === competenciasSelect[competenciasSelect.indexOf(compet)].nivObjetivo
												}"
												[id]="'nivel' + i"
												class="list-group-item p-3"
												aria-current="true"
												*ngFor="let nivel of dbData.niveles; let i = index"
												(click)="selectNivelObjetivo(nivel, compet)"
											>
												{{ nivel.id }}
											</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<div class="btn" (click)="move(false)">
						<span class="material-icons"> arrow_back </span>
					</div>
					<div class="btn" (click)="move(true)" [ngClass]="{'disableDiv': isDisabled}">
						<!-- TODO: Añadir un validador para que el botón este disabled hasta que se pulsen los niveles objetivo -->
						<span class="material-icons"> arrow_forward </span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--FIN ASIGNAR NIVEL OBJETIVO A ESAS COMPETENCIAS-->

	<!--ELEGIR COMPORTAMIENTOS -->
	<div class="block" [ngStyle]="{ transform: 'translateX(' + current * -100 + '%)' }">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLabel">
						Haga click para añadir los comportamientos que tendrán estas competencias por niveles
					</h2>
				</div>
				<div class="modal-body">
					<hr />
					<div class="accordion" id="accordionCompo">
						<div class="accordion-body">
							<div
								class="accordion-item"
								[id]="nivelComp.id"
								*ngFor="let nivelComp of competenciasSelect; let i = index"
							>
								<h2 class="accordion-header" [id]="'headerCompo ' + i">
									<button
										class="accordion-button collapsed"
										type="button"
										data-bs-toggle="collapse"
										[attr.data-bs-target]="'#collCompo' + i"
										aria-expanded="false"
										[attr.aria-controls]="'collCompo' + i"
									>
										{{ 'Competencia: ' + nivelComp.descripcion }}
										<br />
										{{ 'Nivel objetivo: ' + nivelComp.nivObjetivo!.id }}
									</button>
								</h2>

								<div
									[id]="'collCompo' + i"
									class="accordion-collapse collapse"
									[attr.aria-labelledby]="'headerCompo' + i"
									data-bs-parent="#accordionCompo"
								>
									<div class="accordion-body">
										<div class="accordion" id="accordionLast">
											<div class="accordion-body">
												<div
													class="accordion-item"
													[id]="allNiveles.id"
													*ngFor="let allNiveles of dbData.niveles; let i = index"
												>
													<h2 class="accordion-header" [id]="'headerLast ' + i">
														<button
															class="accordion-button collapsed"
															type="button"
															data-bs-toggle="collapse"
															[attr.data-bs-target]="'#collLast' + i"
															aria-expanded="false"
															[attr.aria-controls]="'collLast' + i"
														>
															{{ ' Nivel: ' + allNiveles.id }}

															<!--Btn para añadir comportamientos a x nivel-->
															<button
																class="btn btn-primary me-2"
																data-bs-toggle="modal"
																data-bs-target="#exampleModal1"
																id="newEvButton"
																style="margin-left: 30px"
															>
																<span title="Añadir comportamiento"> Añadir comportamientos </span>
															</button>
															<!--FIN btn para añadir comportamientos a x nivel-->
														</button>
													</h2>
													<div
														[id]="'collLast' + i"
														class="accordion-collapse collapse"
														[attr.aria-labelledby]="'headerLast' + i"
														data-bs-parent="#accordionLast"
													>
														<div class="accordion-body">
															<!--!!!!!!! AQUI SE DEBEN VISUALIZAR LOS COMPORTAMIENTOS AÑADIDOS DEL MODAL-->
															<ol type="1" class="list-group">
																<li
																	[id]="'nivel' + i"
																	class="list-group-item p-3"
																	aria-current="true"
																	*ngFor="let comport of comportamientosSelect; let i = index"
																>
																	{{ comport.descripcion }}
																</li>
															</ol>
															<!--!!!!!!! FIN AQUI SE DEBEN VISUALIZAR LOS COMPORTAMIENTOS AÑADIDOS-->
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--FOOTER OBJETIVO COMPORT-->
					<div class="modal-footer">
						<div class="btn" (click)="move(false)">
							<span class="material-icons"> arrow_back </span>
						</div>
						<div class="btn" (click)="move(true)">
							<span class="material-icons"> arrow_forward </span>
						</div>
					</div>
					<!--FIN FOOTER OBJETIVO COMPORT-->
				</div>
			</div>
		</div>
	</div>
	<!--FIN ELEGIR COMPORTAMIENTOS -->

	<!-- Modal para añadir comportamientos -->
	<div
		class="modal fade"
		id="exampleModal1"
		tabindex="-1"
		aria-labelledby="exampleModalLabel1"
		aria-hidden="true"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLabel1">
						Haga click en los comportamientos para añadirlos
					</h2>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<hr />
					<ol type="1" class="list-group">
						<li
							[ngClass]="{ active: comportamientosSelect.includes(comport) }"
							[id]="comport.id"
							class="list-group-item p-3"
							aria-current="true"
							*ngFor="let comport of dbData.comports; let i = index"
							(click)="selectComportamiento(comport)"
						>
							{{ comport.descripcion }}
						</li>
					</ol>
				</div>
				<div class="modal-footer">
					<button #closeModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<button #closeModal type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirmar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN modal para añadir comportamientos -->
</div>
