<h1 class="layout-title">Mis evaluaciones</h1>
<div class="container-fluid">
	<div class="row gy-4">
		<div class="col-md-6 col-sm-12 col-lg-4" *ngFor="let evaluacion of evaluacionData">
			<div class="card">
				<div class="card-body">
					<h2 class="card-title">Evaluación: {{ evaluacion.id }}</h2>
					<p>Categoría competencial: {{ evaluacion.catComp.id }}</p>
					<p>Descripcion de categoría competencial: {{ evaluacion.catComp.description }}</p>
					<p>Descripción de la evaluación: {{ evaluacion.description }}</p>
				</div>
				<button type="button" class="btn btn-primary">Evaluar</button>
			</div>
		</div>
	</div>
</div>
