<app-menu></app-menu>

<div class="main">
	<h1>Mis evaluaciones</h1>
	<div class="row">
		<div class="column"  *ngFor="let evaluacion of evaluacionData">
			<div class="card">
				<p>Id de evaluación: {{evaluacion.id}}</p>
				<p>	Categoría competencial: {{evaluacion.catComp.id}} </p>
				<p>Descripcion de categoría competencial: {{evaluacion.catComp.description}} </p>
				<p>	Descripción de la evaluación: {{evaluacion.description}} </p>
				<button type="button" class="btn">Evaluar</button>
			</div>
		</div>
	</div>
</div>




