::after, ::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
	font-family: "Source Sans Pro", sans-serif;
}

.column {
  float: left;
  width: 25%;
  padding: 10px 10px 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: rgba(187, 243, 240, 0.150);
	border: 1px solid #09548D;
	border-radius: 2%;

}
/*
.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
	color: white;
}
*/

.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

h1 {
	font-size: 36px;
	padding-top: 0.5em;
	padding-left: 0.2em;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.btn{
	border: 1px solid #09548D;
	border-radius: 200%;
	width: 50%;
	text-align: center;
	margin: auto;
	color: #09548D;
}

.btn:hover{
	background-color: #2b94e5;
	color: white;

}

