<div class="contrainer-fluid p-3">
	<h1 class="layout-title">Evaluación {{ evId }}</h1>
	<h2 class="layout-subTitle">
		La evaluación tendrá la posibilidad de modificarse hasta que el tiempo de evaluación haya sido cerrado,
		por lo que puede modificarla siempre que quiera y cambiar la valoración.
	</h2>
	<button type="submit" class="btn btn-primary mb-2">
		Guardar evaluación
		<span class="material-icons" title="Guardar evaluación"> save </span>
	</button>
	<div class="accordion" id="accorEvaluaciones">
		<div class="accordion-body">
			<div class="accordion-item" *ngFor="let competenciaYComports of cv.compsYComports; let i = index">
				<h2 class="accordion-header" [id]="'headingEval' + i">
					<button
						class="accordion-button collapsed"
						type="button"
						data-bs-toggle="collapse"
						[attr.data-bs-target]="'#collEval' + i"
						aria-expanded="false"
						[attr.aria-controls]="'collEval' + i"
					>
						{{ competenciaYComports.id }}
					</button>
				</h2>
				<div
					[id]="'collEval' + i"
					class="accordion-collapse collapse"
					[attr.aria-labelledby]="'headingEval' + i"
					data-bs-parent="#accorEvaluaciones"
				>
					<div *ngFor="let comport of competenciaYComports.comports">
						<!-- TODO: Style en .scss -->
						<span class="ips-title" style="margin-left: 10px">
							{{ comport.descripcion }}
							<!-- TODO: Style en .scss -->
							<form style="margin-left: 100px">
								<input type="radio" id="1" name="values" value="1" />
								<label for="1"> 1 </label>
								<input type="radio" id="2" name="values" value="2" />
								<label for="2"> 2 </label>
								<input type="radio" id="3" name="values" value="3" />
								<label for="3"> 3 </label>
								<input type="radio" id="4" name="values" value="4" />
								<label for="4"> 4 </label>
								<input type="radio" id="5" name="values" value="5" />
								<label for="5"> 5 </label>
							</form>
						</span>
						<!-- TODO: Style en .scss -->
						<hr style="color: #0d6dfd" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
