<div id="sidebar" class="page-sidebar" [ngClass]="clase">
	<div class="sidebar-fixed">
		<header class="site-header">
			<a routerLink="/">
				<div class="site-logo">
					<img src="/../../../assets/images/Biganlogo.png" alt="IACS" />
				</div>
			</a>

			<!--ICONO BARRA DESPLEGABLE-->

			<div class="sidebar-collapse hidden-xs">
				<a class="sidebar-collapse-icon_2" href="#">
					<em class="icon-menu"></em>
				</a>
			</div>
			<div class="sidebar-mobile-menu visible-xs">
				<a
					data-target="#side-nav"
					data-toggle="collapse"
					class="mobile-menu-icon"
					href="#"
				>
					<em class="icon-menu"></em>
				</a>
			</div>
		</header>
		<!--/ICONO BARRA DESPLEGABLE-->

		<ul id="side-nav" class="main-menu navbar-collapse collapse">
			<li>
				<a routerLink="/usuario/datos">
					<span class="title">Mis datos</span>
				</a>
			</li>
			<li>
				<a routerlink="/usuario/evaluadores">
					<span class="title">Mis evaluadores</span>
				</a>
			</li>
			<li>
				<a routerlink="/">
					<span class="title">Mis supervisados</span>
				</a>
			</li>
			<li>
				<a routerLink="/evaluaciones">
					<span class="title">Mis evaluaciones</span>
				</a>
			</li>
			<li>
				<a routerLink="competencias">
					<span class="title">Mis competencias</span>
				</a>
			</li>
			<li>
				<a routerLink="/resultados">
					<span class="title">Mis resultados</span>
				</a>
			</li>
			<li>
				<a routerLink="/competencias/admin">
					<span class="title">Competencias</span>
				</a>
			</li>
			<li>
				<a routerlink="/">
					<span class="title">Niveles de comportamiento</span>
				</a>
			</li>

			<li>
				<a routerlink="/">
					<span class="title">Trabajadores</span>
				</a>
			</li>
			<li>
				<a routerlink="/">
					<span class="title">Evaluaciones</span>
				</a>
			</li>
			<li>
				<a routerlink="/">
					<span class="title">Todos trabajadores</span>
				</a>
			</li>
			<li>
				<a routerlink="/">
					<span class="title">Comportamientos</span>
				</a>
			</li>

			<li>
				<a routerlink="/">
					<span class="title">Categorias competenciales</span>
				</a>
			</li>
			<li>
				<a routerLink="/">
					<span class="title">Categorias contractuales</span>
				</a>
			</li>
		</ul>
	</div>
</div>
