<div id="sidebar" class="page-sidebar" [ngClass]="clase">
	<div class="sidebar-fixed">
		<header class="site-header">
			<a routerLink="/">
				<div class="site-logo">
					<img src="/../../../assets/images/Biganlogo.png" alt="IACS" />
				</div>
			</a>

			<!--ICONO BARRA DESPLEGABLE-->

			<div class="sidebar-collapse hidden-xs">
				<a class="sidebar-collapse-icon_2" href="#">
					<em class="icon-menu"></em>
				</a>
			</div>
			<div class="sidebar-mobile-menu visible-xs">
				<a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#">
					<em class="icon-menu"></em>
				</a>
			</div>
		</header>
		<!--/ICONO BARRA DESPLEGABLE-->

		<ul id="side-nav" class="main-menu navbar-collapse collapse">
			<li>
				<a routerLinkActive="active-route" routerLink="/usuario/datos">
					<span class="title">Mis datos</span>
				</a>
			</li>
			<li>
				<a routerLinkActive="active-route" routerLink="/usuario/organigrama">
					<span class="title">Mi organigrama</span>
				</a>
			</li>
			<li>
				<a routerLinkActive="active-route" routerLink="/evaluaciones">
					<span class="title">Mis evaluaciones</span>
				</a>
			</li>
			<li>
				<a routerLinkActive="active-route" routerLink="/competencias">
					<span class="title">Mis competencias actuales</span>
				</a>
			</li>
			<li>
				<a routerLinkActive="active-route" routerLink="/resultados">
					<span class="title">Mis resultados</span>
				</a>
			</li>
			<div class="admin-menu" *ngIf="isAdmin">
				<hr />
				<li>
					<a routerLinkActive="active-route" routerLink="/admin/competencias">
						<span class="title">Competencias</span>
					</a>
				</li>
				<li>
					<a routerLinkActive="active-route" routerLink="/admin/comportamientos">
						<span class="title">Comportamientos</span>
					</a>
				</li>
				<li>
					<a routerLinkActive="active-route" routerLink="/admin/niveles">
						<span class="title">Niveles de comportamiento</span>
					</a>
				</li>

				<li>
					<a routerLinkActive="active-route" routerLink="/admin/trabajadores">
						<span class="title">Trabajadores</span>
					</a>
				</li>
				<li>
					<a routerLinkActive="active-route" routerLink="/admin/organigrama">
						<span class="title">Organigrama</span>
					</a>
				</li>
				<li>
					<a routerLinkActive="active-route" routerLink="/admin/evaluaciones">
						<span class="title">Evaluaciones</span>
					</a>
				</li>
				<li>
					<a routerLinkActive="active-route" routerLink="/admin/categorias/competenciales">
						<span class="title">Categorias competenciales</span>
					</a>
				</li>
				<li>
					<a routerLinkActive="active-route" routerLink="/admin/categorias/contractuales">
						<span class="title">Categorias contractuales</span>
					</a>
				</li>
			</div>
		</ul>
	</div>
</div>
