<div class="tablewrapper">
	<h1 class="title">Lista de todos los comportamientos</h1>
	<table aria-label="Listado de todos los comportamientos existentes" class="table table-hover">
		<thead>
			<tr>
				<th scope="col">CÓDIGO</th>
				<th scope="col">DESCRIPCIÓN</th>
				<th scope="col">BORRAR/MODIFICAR</th>
				<th scope="col" style="max-width: 1rem">
					<button class="btn btn-primary" (click)="newEmptyCompt()" title="Añadir comportamiento">
						<span class="material-icons" title="Añadir comportamiento"> add </span>
					</button>
				</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let row of comportToAdd">
				<td>
					<input type="text" class="form-control" [(ngModel)]="row.id" />
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="row.descripcion" />
				</td>
				<td>
					<div class="btn btn-danger" (click)="deleteComptToAdd(row)">
						<span class="material-icons"> delete </span>
					</div>
					<div
						class="btn btn-success"
						(click)="persistComport(row)"
						*ngIf="row.descripcion !== '' && row.id !== ''"
					>
						<span data-tooltip="Añadir" class="material-icons"> add </span>
					</div>
				</td>
			</tr>

			<tr *ngFor="let comport of comports">
				<td>{{ comport.id }}</td>
				<td *ngIf="!comport.editing">{{ comport.descripcion }}</td>
				<td *ngIf="comport.editing">
					<input type="text" class="form-control" [(ngModel)]="comport.descripcion" />
				</td>

				<td>
					<div *ngIf="canDelete(comport)" class="btn btn-danger" (click)="deleteComport(comport)">
						<span class="material-icons"> delete </span>
					</div>
					<div class="btn btn-success" (click)="editingComport(comport, true, false)">
						<span class="material-icons"> edit </span>
					</div>
					<div class="btn btn-primary" *ngIf="comport.editing" (click)="editingComport(comport, false, true)">
						<span class="material-icons"> done </span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
