<app-menu></app-menu>
<!-- Cambiar descipción tabla -->
<div id="content" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6 table-responsive">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" myTable>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="recNumber">
            <th mat-header-cell *matHeaderCellDef>Registros</th>
            <td mat-cell *matCellDef="let element">{{ element.recNumber }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="from_dt">
            <th mat-header-cell *matHeaderCellDef>Inicio</th>
            <td mat-cell *matCellDef="let element">
              {{ element.from_dt | date: "mediumDate":undefined:"es" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="to_dt">
            <th mat-header-cell *matHeaderCellDef>Fin</th>
            <td mat-cell *matCellDef="let element">
              {{ element.to_dt | date: "mediumDate":undefined:"es" }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <!-- <table
        class="table table-bordered display nowrap"
        aria-describedby="Descripción tabla"
      >
        <thead>
          <tr>
            <th *ngFor="let title of titles" scope="col">{{ title }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mast of master">
            <td>{{ mast.name }}</td>
            <td>{{ mast.description }}</td>
            <td>{{ mast.recNumber }}</td>
            <td>{{ mast.from_dt | date: "mediumDate":undefined:"es" }}</td>
            <td>{{ mast.to_dt | date: "mediumDate":undefined:"es" }}</td>
          </tr>
          <tr *ngFor="let catalog of dataset">
            <td>{{ catalog.name }}</td>
            <td>{{ catalog.description }}</td>
            <td>{{ catalog.recNumber }}</td>
            <td>{{ catalog.from_dt | date: "mediumDate":undefined:"es" }}</td>
            <td>{{ catalog.to_dt | date: "mediumDate":undefined:"es" }}</td>
          </tr>
        </tbody>
      </table> -->
    </div>
    <div class="panel-body col-md-6">
      <style type="text/css">
        p {
          font-size: 14pt;
          text-align: justify;
        }

        .indice {
          font-size: 14pt;
        }
      </style>

      <div
        style="
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          line-height: 1.42857143;
          color: #505050;
          font-family: arial, sans-serif;
          font-size: 12px;
          box-sizing: border-box;
          background-color: #fff;
          border: 1px solid transparent;
          border-radius: 0;
          box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25);
          margin-bottom: 25px;
          border-color: #ddd;
        "
      >
        <div
          style="
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            line-height: 1.42857143;
            color: #505050;
            font-family: arial, sans-serif;
            font-size: 12px;
            box-sizing: border-box;
            position: relative;
            padding: 15px 24px;
          "
        >
          <h1>HERMES</h1>
          <h2>Health Data for Research</h2>
          <p><span>&nbsp;</span></p>

          <h2 id="Q1">Portal BIGAN para investigadores</h2>

          <p>
            Repositorio integrado de datos sanitarios de la vida real para uso
            secundario
          </p>
          <p>
            Extracción de datos sanitarios pseudonimizados y depurados para su
            uso en proyectos de investigación
          </p>
          <p>Identificación y seguimiento de cohortes de pacientes</p>
          <p>
            Plataforma tecnológica para el análisis y procesamiento de datos
          </p>
          <p>
            Inteligencia artificial y aprendizaje automático a partir de dato
            sanitario de la vida real
          </p>
          <p>Análisis de lenguaje natural</p>

          <p><span>&nbsp;</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
