<div *ngIf="!viewProps?.haveModels">
	Vaya, no hay ningun modelo de referencia creado
	<button class="btn btn-primary" routerLink="/admin/evaluaciones">Crear modelo</button>
	<br />Cambiar por texto majo que indique que no hay modelos de referencia creados
</div>
<div *ngIf="viewProps?.haveModels">
	<div class="container-fluid">
		<div class="row pt-4">
			<div class="col-lg-3 col-md-5 col-sm-6" *ngFor="let model of refModels">
				<div class="card">
					<div class="card-body">
						<h1 class="card-title">{{ model.catComp.id }}</h1>
						<h4>{{ model.catComp.description }}</h4>
						<button
							class="btn btn-primary"
							(click)="
								evModelToShow.next(model);
								modoEdicion = false;
								dbData.modelToAdd = model;
								renderViewModels = true
							"
						>
							Ver detalles modelo
						</button>
						<button
							class="btn btn-primary m-1"
							(click)="
								evModelToShow.next(model);
								modoEdicion = true;
								dbData.modelToAdd = model;
								renderViewModels = true
							"
						>
							Editar el modelo
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- -->
<app-view-edit-model
	[evModel]="evModelShowNotUndefined(evModelToShow)"
	[modoEdicion]="modoEdicion"
	(onSaveChanges)="saveModel($event)"
	*ngIf="renderViewModels"
></app-view-edit-model>
