<div
	class="modal fade"
	tabindex="-1"
	aria-hidden="true"
	[id]="idModal"
	aria-labelledby="modalComportamientos"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="modalComportamientos">
					Haga click en los comportamientos para añadirlos
				</h2>
				<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-1">
					<p>Filtrar por descripción:</p>
					<input
						#comportDescInput
						type="text"
						(keyup)="comportCtl.comportDescObs.next(comportDescInput.value)"
					/>
				</div>
				<ul class="list-group">
					<li
						[ngClass]="{ active: comportCtl.comportsSelected?.includes(comport) }"
						class="list-group-item p-3"
						*ngFor="
							let comport of comportCtl.comportsFiltered | slice: cv.start:cv.numComportsMostrando;
							let i = index
						"
						(click)="selectComportamiento(comport)"
					>
						{{ comport.descripcion }}
					</li>
				</ul>
				<button class="btn btn-primary" (click)="showMoreComports()" title="Mostrar más">Mostrar más</button>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button class="btn btn-primary" data-bs-dismiss="modal" (click)="addAllComports()">Confirmar</button>
			</div>
		</div>
	</div>
</div>
