<h1>Mi organigrama</h1>
<div class="container-fluid">
	<div class="row">
		<div class="column" *ngIf="!!miOrganigramaData">
			<div class="card">
				<!-- TODO: [11]{N1} Refactor, añadir css y mejorar la visualización  -->
				<h2>Mis Superiores:</h2>
				<p *ngIf="miOrganigramaData.superiores.length === 0">No tienes superiores</p>
				<p *ngFor="let superior of miOrganigramaData.superiores">{{ superior.nombre }}</p>
			</div>
			<div class="card">
				<h2>Mis Pares:</h2>
				<p *ngIf="miOrganigramaData.pares.length === 0">No tienes pares</p>
				<p *ngFor="let par of miOrganigramaData.pares">{{ par.nombre }}</p>
			</div>
			<div class="card">
				<h2>Mis Inferiores:</h2>
				<p *ngIf="miOrganigramaData.inferiores.length === 0">No tienes inferiores</p>
				<p *ngFor="let inferior of miOrganigramaData.inferiores">{{ inferior.nombre }}</p>
			</div>
		</div>
	</div>
</div>
