::after,
::before {
	box-sizing: border-box;
}

.card {
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	background-color: rgba(232, 250, 255, 0.15);
	border: 1px solid #09548d;
	border-radius: 2%;
	transition: ease 0.5s;
	&:hover {
		box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.6);
	}
}

.showing-results-btn {
	display: flex;
	align-content: center;
	align-items: center;
	height: 60px;
}
