<h1 class="layout-title">Evaluaciones</h1>

<div class="container-fluid" *ngIf="viewControls.isDataLoaded">
	<button
		class="btn btn-primary mb-2"
		data-bs-toggle="modal"
		[attr.data-bs-target]="'#' + childrenIds.newEvModalId"
		[disabled]="!viewControls.canCreateNewEv"
	>
		Nueva evaluación
	</button>
	<button
		class="btn btn-success ms-2 mb-2"
		data-bs-toggle="modal"
		[attr.data-bs-target]="'#' + childrenIds.createModalId"
		[disabled]="!viewControls.canCreateNewModel"
	>
		Nuevo modelo
	</button>
	<button routerLink="/admin/evaluaciones/modelos-reference" class="btn btn-primary ms-2 mb-2">
		Ver modelos
	</button>
	<app-create-model [modalId]="childrenIds.createModalId"></app-create-model>
	<div class="row gy-4">
		<app-empty-state
			*ngIf="data.evaluaciones.length === 0"
			[textToShow]="'Vaya no hay ninguna evaluación, crea una'"
		></app-empty-state>
		<div class="col-md-6 col-sm-12 col-lg-4" *ngFor="let ev of data.evaluaciones">
			<div class="card">
				<h2 class="card-title">Id evaluación: {{ ev.id }}</h2>
				<div class="card-body">
					<p>Descripción: {{ ev.description }}</p>
					<p>Id del modelo: {{ ev.model }}</p>
					<mat-slide-toggle
						class="showing-results-btn"
						[id]="showingResultsBtnControls.encodeBtnId(ev.id)"
						(change)="showingResultsBtnUpdate($event)"
						[checked]="ev.isShowingResults"
					>
						Mostrar resultados
					</mat-slide-toggle>
				</div>
			</div>
		</div>
	</div>
</div>
<app-new-ev-modal [onEvSaved]="this.updateEvalView" [modalId]="childrenIds.newEvModalId"></app-new-ev-modal>
