::after,
::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card {
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 16px;
	background-color: rgba(232, 250, 255, 0.15);
	border: 1px solid #09548d;
	border-radius: 2%;
	transition: ease 0.5s;
}

.card:hover {
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.6);
}

