<h1 class="layout-title">Evaluaciones</h1>
<div class="container-fluid">
	<button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal" id="newEvButton">
		Nueva evaluación
	</button>
	<br>
	<!--Al pulsar el boton se carga el modulo del MODELO-->
	<button (click)="loadModelForm() " class="btn btn-success mb-2">
		Nuevo modelo
	</button>
	<app-modelos *ngIf="loadMForm"></app-modelos>


	<!-- TODO: Cambiar identificadores del modal nueva evalución -->
	<div class="row gy-4">
		<div class="col-md-6 col-sm-12 col-lg-4" *ngFor="let row of evalToAdd">
			<div class="card">
				<h2 class="card-title">Id evaluación: {{ row.id }}</h2>
				<div class="card-body">
					<p>Descripción: {{ row.description }}</p>
					<p>Id del modelo: {{ row.model }}</p>
					<!-- <p>Id del la Cat. competencial: {{ row.catComp.id }}</p> -->
					<!-- <p>Inicio propuestas: {{row}} </p>
						<p>Fin propuestas: {{row}} </p>
						<p>Inicio validacion: {{row}} </p>
						<p>Fin validacion: {{row}} </p>
						<p>Inicio valoracion: {{row}} </p>
						<p>Fin valoracion: {{row}} </p>
						<p>Inicio período evaluado: {{row}} </p>
						<p>Fin período evaluado: {{row}} </p> -->
				</div>
			</div>
		</div>
	</div>
</div>
<app-new-ev-modal></app-new-ev-modal>
