<div class="tablewrapper">
	<h1 class="title">Lista de todos los niveles</h1>
	<table aria-label="Listado de todos los niveles existentes" class="table table-hover">
		<thead>
			<tr>
				<th scope="col">CÓDIGO</th>
				<th scope="col">VALOR</th>
				<th scope="col">EDITAR/ELIMINAR</th>
				<th scope="col" style="max-width: 1rem">
					<button class="btn btn-primary" (click)="newEmptyNivel()">
						<span class="material-icons" title="Añadir nivel"> add </span>
					</button>
				</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let row of nivelToAdd">
				<td>
					<input type="text" class="form-control" [(ngModel)]="row.id" />
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="row.valor" />
				</td>
				<td>
					<div class="btn btn-danger" (click)="deleteNivToAdd(row)">
						<span class="material-icons"> delete </span>
					</div>
					<div class="btn btn-success" (click)="persistNiv(row)" *ngIf="row.valor !== 0 && row.id !== ''">
						<span class="material-icons"> add </span>
					</div>
				</td>
			</tr>

			<tr *ngFor="let nivel of niveles">
				<td>{{ nivel.id }}</td>
				<td *ngIf="!nivel.editing">{{ nivel.valor }}</td>
				<td *ngIf="nivel.editing">
					<input type="text" class="form-control" [(ngModel)]="nivel.valor" />
				</td>

				<td>
					<div class="btn btn-success" (click)="editingNivel(nivel, true, false)">
						<span class="material-icons"> edit </span>
					</div>
					<div class="btn btn-primary" *ngIf="nivel.editing" (click)="editingNivel(nivel, false, true)">
						<span class="material-icons"> done </span>
					</div>
					<div *ngIf="canDelete(nivel)" class="btn btn-danger" (click)="deleteNivel(nivel)">
						<span class="material-icons"> delete </span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
