<h1 class="layout-title">Evaluaciones</h1>
<div class="container-fluid">
	<button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal" id="newEvButton">
		Nueva evaluación
	</button>
	<button (click)="loadMForm = true" class="btn btn-success ms-2 mb-2">Nuevo modelo</button>
	<button routerLink="/admin/evaluaciones/modelos-reference" class="btn btn-primary ms-2 mb-2">
		Ver modelos
	</button>
	<!-- <app-new-ev-model *ngIf="loadMForm"></app-new-ev-model> -->

	<div class="row gy-4">
		<div class="col-md-6 col-sm-12 col-lg-4" *ngFor="let ev of evaluaciones">
			<div class="card">
				<h2 class="card-title">Id evaluación: {{ ev.id }}</h2>
				<div class="card-body">
					<p>Descripción: {{ ev.description }}</p>
					<p>Id del modelo: {{ ev.model }}</p>
					<mat-slide-toggle
						class="showing-results-btn"
						[id]="showingResultsBtnControls.encodeBtnId(ev.id)"
						(change)="showingResultsBtnUpdate($event)"
						[checked]="ev.isShowingResults"
					>
						Mostrar resultados
					</mat-slide-toggle>
				</div>
			</div>
		</div>
	</div>
</div>
<app-new-ev-modal [onEvSaved]="this.updateEvalView"></app-new-ev-modal>
