// TODO: DONE

.main-menu,
.admin-menu {
	> li {
		> a {
			&:hover {
				background-color: #49a0e7;
			}
		}
	}
}
.admin-menu {
	> li {
		> a {
			background-color: #1663a1;
		}
	}
	list-style: outside none none;
	padding-left: 0px;
}
.active-route {
	background-color: #297fc5 !important;
}
.page-sidebar {
	background-color: #09548d;
	color: #b4b5b8;
	display: table-cell;
	position: relative;
	vertical-align: top;
	width: 240px;
	height: 100vh;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	.sidebar-fixed {
		position: relative;
		width: 100%;
		height: auto;
	}
}
.site-header {
	overflow: hidden;
	padding: 25px 20px;
	position: relative;
	z-index: 101;
}
.site-logo {
	float: left;
	position: relative;
	a {
		color: #c8c8c8;
		display: block;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.sidebar-mobile-menu {
	float: right;
	position: relative;
	a.mobile-menu-icon {
		color: #c8c8c8;
		display: inline-block;
		font-size: 24px;
		line-height: 1;
		text-align: center;
		transition: all 200ms ease-in-out 0s;
	}
}
.navbar-collapse.collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
}
ul.main-menu {
	font-size: 14px;
	list-style: outside none none;
	margin: 0 0 20px;
	padding: 0;
	padding-bottom: 0px;
	li {
		position: relative;
		a {
			color: #ebebeb;
			display: block;
			padding: 12px 20px;
			text-decoration: none;
		}
		em {
			margin-right: 16px;
			font-size: 15px;
		}
	}
}
li {
	&::before {
		content: '\003E';
		color: #ebebeb;
		float: right;
		font-size: 20px;
		position: relative;
		padding: 5;
		margin-top: 12px;
		margin-right: 12px;
	}
}
.toggle-menu-icon {
	color: #ebebeb;
	float: right;
	font-size: 20px;
	cursor: pointer;
}
@media (max-width: 768px) {
	.page-sidebar {
		display: none;
	}
}
