.accordion-button:focus {
	background-color: #297FC5 !important;
	color: white;
}

.btn-default {
	width: 100%;
	height: 100%;
}


 .btn-change{
	/* Transition */
  transform: translateX(-120%);
  transition: all .75s ease-in;
 }


.inline{
	display: inline;
}






