<div class="inline">
	<!--CATEGORIAS COMPETENCIALES -->
	<div [ngClass]="bntStyle" class="block" [ngStyle]="{ transform: 'translateX(' + current * -100 + '%)' }">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLabel">
						Haga click en la categoría competencial que tendrá este modelo
					</h2>
				</div>
				<div class="modal-body">
					<hr />
					<ul class="list-group">
						<li
							[ngClass]="{ active: catComp === addModelo.catComp }"
							[id]="'catComp' + i"
							class="list-group-item p-3"
							aria-current="true"
							*ngFor="let catComp of catComps; let i = index"
							(click)="scrollToButton(target); selectCatComp(catComp)"
						>
							{{ catComp.id }} - {{ catComp.description}}
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<div #target class="btn" (click)="move(false)">
						<span class="material-icons"> arrow_back </span>
					</div>
					<div #target class="btn" (click)="move(true)">
						<span class="material-icons"> arrow_forward </span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIN CATEGORIAS COMPETENCIALES-->

	<!--COMPETENCIAS Y NIVELES -->
	<div [ngClass]="bntStyle" class="block" [ngStyle]="{ transform: 'translateX(' + current * -100 + '%)' }">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLabel">
						Haga click para añadir las competencias que tendrá este modelo
					</h2>
				</div>
				<div class="modal-body">
					<hr />
					<ul class="list-group">
						<li
							[ngClass]="{ active: subModel.competencia == compete }"
							[id]="'compete' + i"
							class="list-group-item p-3"
							aria-current="true"
							*ngFor="let compete of competencs; let i = index"
							(click)="scrollToButton(target);
							selectCompet(compete, 'compete' +i)"

							>

							{{ compete.id }} - {{ compete.descripcion }}

						</li>
					</ul>
				</div>

				<div class="modal-footer">
					<div #target class="btn" (click)="move(false)">
						<span class="material-icons"> arrow_back </span>
					</div>
					<div #target class="btn" (click)="move(true)">
						<span class="material-icons"> arrow_forward </span>
					</div>
				</div>

			</div>
		</div>
	</div>
		<!--FIN COMPETENCIAS Y NIVELES -->

	<!--ASIGNAR NIVELES A ESAS COMPETENCIAS-->
	<div [ngClass]="bntStyle" class="block" [ngStyle]="{ transform: 'translateX(' + current * -100 + '%)' }">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="exampleModalLabel">
						Asigne el nivel objetivo a cada competencia
					</h2>
				</div>
				<div class="modal-body">
					<hr />
					<ul class="list-group">
						<li
							[ngClass]="{ active: nivel === subModel.nivel}"
							[id]="'catComp' + i"
							class="list-group-item p-3"
							aria-current="true"
							*ngFor="let nivel of niveles; let i = index"
							(click)="scrollToButton(target); selectNivel(nivel)"
						>
							{{ nivel.id }} - {{ nivel.valor }}
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<div #target class="btn" (click)="move(false)">
						<span class="material-icons"> arrow_back </span>
					</div>
					<div #target class="btn" (click)="move(true)">
						<span class="material-icons"> arrow_forward </span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--FIN ASIGNAR NIVELES A ESAS COMPETENCIAS-->


</div>



