<app-menu></app-menu>
<div
  style="
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.42857143;
    color: #505050;
    font-family: arial, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 25px;
    border-color: #ddd;
  "
>
  <table
    aria-describedby="Procesos Activity"
    class="table table-striped table-hover bigan-dt display"
  >
    <thead>
      <tr>
        <th scope="col" style="font-weight: bold; text-transform: uppercase">
          Fecha inicio
        </th>
        <th scope="col" style="font-weight: bold; text-transform: uppercase">
          Id
        </th>
        <th scope="col" style="font-weight: bold; text-transform: uppercase">
          Nombre
        </th>
        <th scope="col" style="font-weight: bold; text-transform: uppercase">
          Descripción
        </th>
        <th scope="col" style="font-weight: bold; text-transform: uppercase">
          Acción
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="errors"></div>
          <div class="form-group">
            <!-- <button class="btn btn-primary btn-block">Entrar</button> -->
          </div>
        </td>
        <td>
          <div class="form-group">
            <select
              cssClass="btn btn-primary btn-block"
              name="correoValido"
              id="correoValido"
            >
              <option value="true">Correo válido</option>
              <option value="false">Correo no válido</option>
            </select>
            <!-- <button class="btn btn-primary btn-block">Entrar</button> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
