<h1>Listado de competencias</h1>


<table aria-label="Listado de todas las competencias existentes" class="table">
	<thead>
		<tr>
			<th scope="col">CÓDIGO</th>
			<th scope="col">DESCRIPCIÓN</th>
			<th scope="col">BORRAR</th>


			<table>
				<thead>

				</thead>
				<tbody>
					<tr *ngFor="let row of competencias; let i = index">
						<td>
							<input type="text" name="{{ row.id }}">
						</td>
						<td>
							<input type="text" name="{{ row.descripcion }}">
						</td>

					</tr>
					<button (click)="onAddRow()">Añadir competencia</button>
				</tbody>
			</table>


	</thead>
	<tbody>
		<tr *ngFor="let competencia of competencias">
			<td>{{ competencia.id }}</td>
			<td>{{ competencia.descripcion }}</td>

			<td *ngIf="sePuedeBorrar(competencia)">
				<button type="button" class="link" (click)="borrarCompt(competencia)">
					<em class="fa fa-clean"></em>
				</button>
			</td>

		</tr>
	</tbody>
</table>

