.fa-clean::before{
	content: "\02716";
	color: black;
}

.link{
	background-color: transparent;
	border: transparent;
}

.fa-edit::before{
	content: "\0270d";
	color: black;
}

.table{
	display: table;
	width: 80%;
	max-width: 80%;
	margin: auto;
}

