<h1>Listado de competencias</h1>


<table aria-label="Listado de todas las competencias existentes" class="table">
	<thead>
		<tr>
			<th scope="col">CÓDIGO</th>
			<th scope="col">DESCRIPCIÓN</th>
			<th scope="col">BORRAR</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let competencia of competencias">
			<td>{{ competencia.id }}</td>
			<td>{{ competencia.descripcion }}</td>

			<td *ngIf="sePuedeBorrar(competencia)">
				<button type="button" class="link" (click)="borrarCompt(competencia)">
					<em class="fa fa-clean"></em>
				</button>
			</td>
			<button type="button" class="linkEditar" (click)="aniadirComp(competencia)">
				<em class="fa fa-edit">Añadir competencia</em>
			</button>
		</tr>
	</tbody>
</table>

