<div class="inline">
	<!--ELEGIR CAT COMPETENCIAL -->
	<div class="block" [ngStyle]="{ transform: 'translateX(' + current * -100 + '%)' }">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Haga click en la categoría competencial que tendrá este modelo</h2>
				</div>
				<div class="modal-body">
					<ul class="list-group">
						<li
							[ngClass]="{ active: catComp === dbData.modelToAdd.catComp }"
							class="list-group-item p-3"
							*ngFor="let catComp of dbData.cComps"
							(click)="selectCatComp(catComp); scrollToButton(target)"
						>
							{{ catComp.id }} - {{ catComp.description }}
						</li>
					</ul>
					<div #target class="modal-footer">
						<button
							class="btn arrowBtn"
							[disabled]="dbData.modelToAdd.catComp === undefined"
							(click)="move(true)"
						>
							<span class="material-icons"> arrow_forward </span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--ELEGIR COMPETENCIAS -->
	<div class="block" [ngStyle]="{ transform: 'translateX(' + current * -100 + '%)' }">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Haga click para añadir las competencias que tendrá este modelo</h2>
				</div>
				<div class="modal-body">
					<ul class="list-group">
						<li
							[ngClass]="{ active: cv.competenciasSelect.includes(compete) }"
							class="list-group-item p-3"
							*ngFor="let compete of dbData.comps"
							(click)="toggleComp(compete)"
						>
							{{ compete.id }} - {{ compete.descripcion }}
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button class="btn arrowBtn" (click)="move(false)">
						<span class="material-icons"> arrow_back </span>
					</button>
					<button class="btn arrowBtn" [disabled]="cv.competenciasSelect.length === 0" (click)="move(true)">
						<span class="material-icons"> arrow_forward </span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<!--ASIGNAR COMPORTAMIENTOS -->
	<div class="block" [ngStyle]="{ transform: 'translateX(' + current * -100 + '%)' }">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">
						Haga click para añadir los comportamientos que tendrán estas competencias por niveles
					</h2>
				</div>
				<div class="modal-body">
					<div class="accordion" id="accordionCompo">
						<div class="accordion-body">
							<div class="accordion-item" *ngFor="let nivelComp of cv.competenciasSelect; let i = index">
								<h2 class="accordion-header" [id]="'headerCompo ' + i">
									<button
										class="accordion-button collapsed"
										data-bs-toggle="collapse"
										[attr.data-bs-target]="'#collCompo' + i"
										[attr.aria-controls]="'collCompo' + i"
									>
										{{ 'Competencia: ' + nivelComp.descripcion }}
									</button>
								</h2>

								<div
									[id]="'collCompo' + i"
									class="accordion-collapse collapse"
									[attr.aria-labelledby]="'headerCompo' + i"
									data-bs-parent="#accordionCompo"
								>
									<div class="accordion-body">
										<div class="accordion" id="accordionLast">
											<div class="accordion-body">
												<div class="accordion-item" *ngFor="let nivel of dbData.niveles; let i = index">
													<h2 class="accordion-header" [id]="'headerLast ' + i">
														<button
															class="accordion-button collapsed"
															data-bs-toggle="collapse"
															[attr.data-bs-target]="'#collLast' + i"
															[attr.aria-controls]="'collLast' + i"
														>
															{{ ' Nivel: ' + nivel.code }}
															<button
																(click)="
																	cv.nivSelected = nivel;
																	cv.compSelected = nivelComp;
																	cv.comportamientosSelect = [];
																	cv.comportsSelected = [];
																	cv.comportsRemainingOfComp = getRemainingComports(
																		nivelComp,
																		dbData.modelToAdd.subModels
																	)
																"
																class="btn btn-primary me-2"
																data-bs-toggle="modal"
																data-bs-target="#removeModal"
																style="margin-left: 30px"
															>
																<span title="Añadir comportamiento"> Añadir comportamientos </span>
															</button>
														</button>
													</h2>
													<div
														[id]="'collLast' + i"
														class="accordion-collapse collapse"
														[attr.aria-labelledby]="'headerLast' + i"
														data-bs-parent="#accordionLast"
													>
														<div class="accordion-body">
															<ul class="list-group">
																<li
																	class="list-group-item p-3"
																	aria-current="true"
																	*ngFor="
																		let comport of findSubModelByCompNiv(
																			dbData.modelToAdd.subModels,
																			nivelComp,
																			nivel
																		)?.comportamientos;
																		let i = index
																	"
																>
																	{{ comport.descripcion }}
																	<button
																		class="btn btn-danger me-2"
																		(click)="removeComport(comport, cv.compSelected!, nivel)"
																		style="float: right"
																	>
																		<span class="material-icons" title="Eliminar comportamiento">
																			remove
																		</span>
																	</button>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn arrowBtn" (click)="move(false)">
							<span class="material-icons"> arrow_back </span>
						</button>
						<button class="btn btn-outline-success" (click)="saveEvModel(dbData.modelToAdd)">
							<span> CREAR MODELO </span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- MODAL LISTA COMPORTAMIENTO -->
	<div
		class="modal fade"
		tabindex="-1"
		aria-hidden="true"
		id="removeModal"
		aria-labelledby="modalComportamientos"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="modalComportamientos">
						Haga click en los comportamientos para añadirlos
					</h2>
					<button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-1">
						<p>Filtrar por descripcion:</p>
						<input #comportDescInput type="text" (keyup)="cv.comportDescObs.next(comportDescInput.value)" />
					</div>
					<ul class="list-group" *ngIf="cv.compSelected">
						<li
							[ngClass]="{ active: cv.comportsSelected?.includes(comport) }"
							class="list-group-item p-3"
							*ngFor="let comport of cv.comportsFiltered"
							(click)="selectComportamiento(comport)"
						>
							{{ comport.descripcion }}
						</li>
					</ul>
				</div>

				<div class="modal-footer">
					<button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<button class="btn btn-primary" data-bs-dismiss="modal" (click)="addAllComports()">
						Confirmar
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
