<div class="contrainer-fluid p-3">
	<h1>Listado de los trabajadores y su organigrama</h1>

	<input
		type="text"
		#filterOrg
		(keyup)="cv.orgFilterObs.next(filterOrg.value)"
		placeholder="Filtrar trabajadores"
	/>
	<button (click)="cv.showall = !cv.showall" class="btn show-all-btn">Mostrar todos</button>
	<select #catCompFilter class="mb-2" (change)="cv.cCompFilterObs.next(findCatComp(catCompFilter.value))">
		<option selected hidden disabled [ngValue]="cv.cCompFilter">Filtrar por Categoria competencial</option>
		<option [ngValue]="undefined">Todas</option>
		<option *ngFor="let cComp of cComps" [ngValue]="cComp">
			{{ cComp.id }}
		</option>
	</select>
	<div class="accordion" id="accordionExample">
		<div class="accordion-body">
			<div
				class="accordion-item"
				[id]="trab.trabajador.dni"
				*ngFor="let trab of filteredOrgani; let i = index"
			>
				<h2 class="accordion-header" [id]="'headingWorker ' + i">
					<button
						class="accordion-button collapsed"
						type="button"
						[ngClass]="{ collapsed: !cv.showall }"
						data-bs-toggle="collapse"
						[attr.data-bs-target]="'#collWorker' + i"
						aria-expanded="false"
						[attr.aria-controls]="'collWorker' + i"
					>
						{{ trab.trabajador.nombre }} {{ trab.trabajador.apellidos }}
					</button>
				</h2>
				<div
					[id]="'collWorker' + i"
					class="accordion-collapse collapse"
					[ngClass]="{ show: cv.showall }"
					[attr.aria-labelledby]="'headingWorker' + i"
					data-bs-parent="#accordionExample"
				>
					<div class="accordion-body">
						<button
							class="btn btn-danger me-2"
							data-bs-toggle="modal"
							data-bs-target="#removeModal"
							[disabled]="trab.inferiores.length === 0"
							(click)="setCtrlView(trab, ModalTitles.INF, 'remove')"
						>
							<span class="material-icons" title="Eliminar inferiores"> remove </span>
						</button>
						<button
							class="btn btn-primary me-2"
							data-bs-toggle="modal"
							data-bs-target="#exampleModal"
							(click)="setCtrlView(trab, ModalTitles.INF, 'add'); cv.modal.filterObs.next('')"
						>
							<span class="material-icons" title="Añadir inferior"> add </span>
						</button>
						<span class="ips-title">Inferiores: </span>
						<div (click)="scroll(inferior.dni)" class="ips" *ngFor="let inferior of trab.inferiores">
							{{ inferior.nombre + ' ' + inferior.apellidos }}
						</div>

						<hr />
						<button
							class="btn btn-danger me-2"
							data-bs-toggle="modal"
							data-bs-target="#removeModal"
							[disabled]="trab.pares.length === 0"
							(click)="setCtrlView(trab, ModalTitles.PAR, 'remove')"
						>
							<span class="material-icons" title="Eliminar pares"> remove </span>
						</button>
						<button
							class="btn btn-primary me-2"
							data-bs-toggle="modal"
							data-bs-target="#exampleModal"
							(click)="setCtrlView(trab, ModalTitles.PAR, 'add'); cv.modal.filterObs.next('')"
						>
							<span class="material-icons" title="Añadir par"> add </span>
						</button>
						<span class="ips-title">Pares: </span>
						<div (click)="scroll(par.dni)" class="ips" *ngFor="let par of trab.pares">
							{{ par.nombre + ' ' + par.apellidos }}
						</div>
						<hr />
						<button
							class="btn btn-danger me-2"
							data-bs-toggle="modal"
							data-bs-target="#removeModal"
							[disabled]="trab.superiores.length === 0"
							(click)="setCtrlView(trab, ModalTitles.SUP, 'remove')"
						>
							<span class="material-icons" title="Eliminar superiores"> remove </span>
						</button>
						<button
							class="btn btn-primary me-2"
							data-bs-toggle="modal"
							data-bs-target="#exampleModal"
							(click)="setCtrlView(trab, ModalTitles.SUP, 'add'); cv.modal.filterObs.next('')"
						>
							<span class="material-icons" title="Añadir superior"> add </span>
						</button>
						<span class="ips-title">Superiores: </span>
						<div (click)="scroll(sup.dni)" class="ips" *ngFor="let sup of trab.superiores">
							{{ sup.nombre + ' ' + sup.apellidos }}
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="cv.cCompFilterObs.value && cv.orgFilterObs.value === '' && cv.trabCount === 0">
				No hay ningun trabajador con {{ cv.cCompFilterObs.value.id }}
			</div>
		</div>
	</div>
</div>

<!-- MODAL -->
<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="exampleModalLabel">Añadir un {{ cv.modal.title }}</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<input
					type="text"
					#addRelation
					(keyup)="cv.modal.filterObs.next(addRelation.value)"
					placeholder="Filtrar trabajadores"
				/>
				<hr />
				<ul class="list-group">
					<li
						[id]="'newRel' + i"
						class="list-group-item p-3"
						[ngClass]="{ active: cv.modal.relations.includes(org.trabajador) }"
						aria-current="true"
						*ngFor="let org of cv.modal.orgFiltered; let i = index"
						(click)="selectRelation(org.trabajador)"
					>
						{{ org.trabajador.nombre }} {{ org.trabajador.apellidos }}
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button #closeModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button
					type="button"
					class="btn btn-primary"
					(click)="saveRelations(cv.modal.worker?.trabajador?.dni)"
				>
					Guardar cambios
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal de borrado de relaciones -->
<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="exampleModalLabel">Borrar {{ cv.modal.title }}es</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<ul class="list-group">
					<li
						[id]="'rel' + i"
						[ngClass]="{ active: cv.modal.relationsDelete.includes(rel) }"
						class="list-group-item p-3"
						aria-current="true"
						[tabindex]="i"
						*ngFor="let rel of cv.modal.relations; let i = index"
						(click)="selectRelToRm(rel)"
						(keydown.space)="selectRelToRm(rel)"
					>
						{{ rel.nombre }} {{ rel.apellidos }}
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button #closeModalDeleteRel type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Cerrar
				</button>
				<button
					type="button"
					class="btn btn-primary"
					(click)="deleteRelations(cv.modal.worker?.trabajador?.dni)"
				>
					Borrar seleccionados
				</button>
			</div>
		</div>
	</div>
</div>
