<div
	class="modal fade"
	id="selectModelCompsModal"
	tabindex="-1"
	aria-labelledby="selecCompModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="selecCompModalLabel">Seleccione las competencias de la evaluación</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<ul class="list-group">
					<li
						[ngClass]="{ active: competCtl.competenciasModelos.includes(competencia)}"
						*ngFor="let competencia of competCtl.competenciasRepetidas"
						class="list-group-item p-3"
						(click)="toggleCompet(competencia)"
					>
						{{ competencia.descripcion }}
					</li>
				</ul>
			</div>

			<div class="modal-footer">
				<button #closeModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button
					#nextModalBtn
					data-bs-toggle="modal"
					data-bs-target="#selectNivelCompsModal"
					class="btn btn-primary"
					(click)="closeModal.click()"
				>
				Siguiente
			</button>
			</div>
		</div>
	</div>
</div>
<app-model-nivel4-comp-select *ngIf="!!competCtl.competenciasModelos" [competenciasModelos]="competCtl.competenciasModelos"></app-model-nivel4-comp-select>

