.auth-page {
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.login-logo {
  width: 100%;
  max-height: 500px;
}
.form-control {
  margin-bottom: 10px;
}

.titleCenter {
  text-align: center;
}
#formDiv {
  margin-top: 10px;
}
.err {
  color: rgb(255, 15, 15);
  background-color: #ffdcdc;
}

@media (min-width: 768px) {
  .login-branding {
    margin-top: 80px;
    margin-left: 30px;
  }
  #formDiv {
    margin-top: 80px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
